# NUMBERS AND ARITHMETIC

In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1 / 2

0.5

In [6]:
2 ** 4

16

In [7]:
# ORDER OF OPERATIONS

2 + 3 * 5 + 5

22

In [8]:
(2+3) * (5+5)

50

In [9]:
# mod function

4 % 4

0

In [10]:
5 % 2

1

In [11]:
8 % 2

0

## VARIABLE ASSIGNEMENTS

In [13]:
var = 2

var

2

In [14]:
x = 2
y = 3

In [15]:
x + y

5

In [16]:
x = x + x

In [17]:
x

4

In [18]:
x = x + x

In [19]:
x

8

- can't start with number or special characters

In [20]:
12var = 12

SyntaxError: invalid syntax (<ipython-input-20-72e2c0241394>, line 1)

### STRINGS

In [21]:
'single quote'

'single quote'

In [22]:
"double quote"

'double quote'

In [24]:
"I can't go"

"I can't go"

- printing strings

In [25]:
x = "Hello"

In [26]:
x

'Hello'

In [27]:
print(x)

Hello

In [28]:
num = 12
name = "Sam"

- PRINT FORMATTING

In [29]:
"My number is {} and my name is {}".format(num, name)

'My number is 12 and my name is Sam'

In [30]:
print("My number is {} and my name is {}".format(num, name))

My number is 12 and my name is Sam

In [32]:
print("My number is {one} and my name is {two}, more {one}".format(one=num, two=name))

My number is 12 and my name is Sam, more 12

- STRING INDEXING

In [33]:
s = "hello"

In [34]:
s[0]

'h'

In [35]:
s[-1]

'o'

In [36]:
# SLICING

s = "abcdefghijk"

In [37]:
s[0:]

'abcdefghijk'

In [39]:
# up to, but not including

s[:3]

'abc'

In [40]:
s[3:6]

'def'

### LISTS

In [41]:
[1, 2, 3]

[1, 2, 3]

In [42]:
['a', 'b', 'c']

['a', 'b', 'c']

In [43]:
my_list = ['a', 'b', 'c']

In [44]:
my_list.append('d')

my_list

['a', 'b', 'c', 'd']

In [45]:
my_list[0]

'a'

In [46]:
my_list[1:3]

['b', 'c']

In [47]:
my_list[0] = 'NEW'

In [48]:
my_list

['NEW', 'b', 'c', 'd']

In [49]:
nest = [1, 2, [3, 4]]

In [50]:
nest

[1, 2, [3, 4]]

In [51]:
nest[2]

[3, 4]

In [52]:
nest[2][1]

4

In [53]:
nest = [1, 2, 3, [4, 5, ['target']]]

In [54]:
nest

[1, 2, 3, [4, 5, ['target']]]

In [55]:
nest[3][2][0]

'target'

In [56]:
print(nest[3][2][0])

target

### DICTIONARIES

In [57]:
d = {'key1': 'value', 'key2':123}

In [58]:
d[0]

KeyError: 0

In [59]:
d['key1']

'value'

In [60]:
d['key2']

123

In [61]:
d = {'k1': [1, 2, 3]}

In [62]:
d

{'k1': [1, 2, 3]}

In [63]:
d['k1']

[1, 2, 3]

In [64]:
d['k1'][1]

2

In [65]:
my_list = d['k1']

In [66]:
my_list[0]

1

In [67]:
d = {'k1': {'innerkey': [1, 2, 3]}}

In [68]:
d['k1']

{'innerkey': [1, 2, 3]}

In [69]:
d['k1']['innerkey']

[1, 2, 3]

In [70]:
d['k1']['innerkey'][1]

2

### BOOLEANS

In [71]:
True

True

In [72]:
False

False

### TUPLES

In [73]:
t = (1, 2, 3)

In [74]:
t[0]

1

In [75]:
t[0] = "NEW"

TypeError: 'tuple' object does not support item assignment

### SETS

In [76]:
{1, 2, 3}

{1, 2, 3}

In [77]:
{1, 2, 2, 3, 3, 1}

{1, 2, 3}

In [78]:
set([1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 6, 6, 6])

{1, 2, 3, 6}

In [79]:
s = {1, 2, 3}

In [80]:
s.add(5)

In [81]:
s

{1, 2, 3, 5}

In [82]:
s.add(5)

In [83]:
s

{1, 2, 3, 5}

### COMPARISON OPERATORS

In [84]:
1 > 2

False

In [85]:
1 < 2

True

In [86]:
1 >= 2

False

In [87]:
1 <= 2

True

In [88]:
1 == 1

True

In [89]:
1 == 2

False

In [90]:
1 = 1

SyntaxError: cannot assign to literal (<ipython-input-90-ecdac3dcabfd>, line 1)

In [91]:
1 != 3

True

In [92]:
'hi' == 'bye'

False

In [93]:
'hi' != 'bye'

True

In [94]:
1 < 2 and 2 < 3

True

In [95]:
1 < 2 and 2 > 3

False

In [96]:
(1 < 2) or (2 > 3)

True

In [97]:
(1 < 2) or (2 > 3) or (1 == 1)

True

In [98]:
True and False

False

In [99]:
True or False

True

### IF; ELIF; ELSE STATEMENTS

In [100]:
if 1 < 2:
    print("yep!")

yep!

In [101]:
if True:
    print("Perform Code")

Perform Code

In [102]:
if 1 == 2:
    print("FIRST")
else:
    print("LAST")

LAST

In [103]:
if 1 != 2:
    print("FIRST")
else:
    print("LAST")

FIRST

In [104]:
if 1 == 2:
    print("FIRST")
elif 3 == 3:
    print("MIDDLE")
else:
    print("LAST")

MIDDLE

In [105]:
if 1 == 2:
    print("FIRST")
elif 4 == 4:
    print("SECOND")
elif 3 == 3:
    print("MIDDLE")
else:
    print("LAST")

SECOND

### FOR AND WHILE LOOPS

In [106]:
seq = [1, 2, 3, 4, 5]

In [107]:
for item in seq:
    print(item)

1
2
3
4
5

In [108]:
i = 1

while i < 5:
    print("i is: {}".format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [109]:
for x in seq:
    print(x)

1
2
3
4
5

In [110]:
range(0, 5)

range(0, 5)

In [111]:
for x in range(0, 5):
    print(x)

0
1
2
3
4

In [112]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [113]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### LIST COMPERHENSION

In [114]:
x = [1, 2, 3, 4]

In [115]:
out = []

for num in x:
    out.append(num**2)

In [116]:
print(out)

[1, 4, 9, 16]

In [117]:
out_2 = [num ** 2 for num in x]

out_2

[1, 4, 9, 16]

### FUNCTIONS

In [118]:
def my_func(param1):
    print(param1)

In [119]:
my_func('Hello')

Hello

In [120]:
def my_func(name):
    print("Hello " + name)

In [121]:
my_func('Jose')

Hello Jose

In [122]:
def my_func(name="Default Name"):
    print("Hello " + name)

In [123]:
my_func()

Hello Default Name

In [127]:
def square(num):
    '''
    THIS IS A DOCSTRING.
    THIS FUNCTION SQAURES A NUMBER
    '''
    return num**2

In [125]:
square(4)

16

In [126]:
output = square(4)

print(output)

16

### MAP()

In [134]:
seq = [1, 2, 3, 4, 5]

In [135]:
def times2(var):
    return var*2

In [136]:
map(times2, seq)

In [137]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

### LAMBDA EXPRESSION

In [138]:
def times2(var):return var*2

In [139]:
lambda var:var*2

In [140]:
t = lambda var:var*2

In [141]:
t(6)

12

In [142]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

### FILTER FUNCTION

In [143]:
filter(lambda num: num%2 == 0, seq)

In [144]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

### METHODS

In [145]:
s = "Hello, my name is Sam"

In [146]:
s.lower()

'hello, my name is sam'

In [147]:
s.upper()

'HELLO, MY NAME IS SAM'

In [148]:
s.split()

['Hello,', 'my', 'name', 'is', 'Sam']

In [149]:
tweet = "Go Sports! #Sports"

In [150]:
tweet.split("#")

['Go Sports! ', 'Sports']

In [151]:
tweet.split("#")[1]

'Sports'

In [153]:
d = {'k1': 1, 'k2':2}

In [154]:
d.keys()

dict_keys(['k1', 'k2'])

In [155]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [157]:
d.values()

dict_values([1, 2])

In [158]:
lst = [1, 2, 3]

In [160]:
lst.pop()

3

In [161]:
lst

[1, 2]

In [162]:
lst = [1, 2, 3, 4, 5]

In [163]:
item = lst.pop()

In [164]:
item

5

In [165]:
frist = lst.pop(0)

In [166]:
lst

[2, 3, 4]

In [168]:
frist

1

### in OPERATOR

In [169]:
'x' in [1, 2, 3]

False

In [170]:
'x' in ['x', 'y', 'z']

True

### TUPLE UNPACKING

In [171]:
x = [(1, 2), (3, 4), (5, 6)]

In [172]:
x[0]

(1, 2)

In [173]:
x[0][1]

2

In [174]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [175]:
for (a, b) in x:
    print(a)

1
3
5